:root {
  --grid-cols: 1;
  --grid-rows: 1;
  --cell-width: 32px;
  --closing-time: 5s;
  --circle-delay: 1s;
  --circle-width: 20;
  --start-width: 250vw;
  --start-top: 0;
  --start-left: 0;
  --end-top: 0;
  --end-left: 0;
  --game-time: 0;
  --countdown-height: 1vh;
  --monofont: "Source Code Pro";
  --font: "Source Sans Pro";
  --show-timebar: none;
  --mouse-y: 0;
  --mouse-x: 0;
  --next-circle-width: var(--circle-width);
}

body {
  overflow: hidden;
  width: 100vw;
  height: 100vh;
  max-width: 100vw;
  max-height: 100vh;
  font-family: var(--font), sans-serif;
}
.wrapper {
  display: flex;
}
.map {
  background: rgb(7,89,133);
  background: radial-gradient(circle, rgba(7,89,133,1) 0%, rgb(12,74,110,1) 100%);
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
  overflow: hidden;
  flex: 0 0 100%;
  position: relative;
}

.dm-view .map {
  flex: 0 0 80%;
}
.dm-view .settings-wrapper {
  flex: 0 0 20%;
  z-index: 10;
  display: flex;
  background: #0F172A;
}

.overlay {
  background:rgba(24, 24, 27, 0.97);
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  display: flex;
  justify-content: center;
  align-items: center;
  z-index: 100;
  opacity: 0;
  transition: opacity 200ms ease-in;
  pointer-events: none;
}

.overlay.show {
  opacity: 1;
}

.container {
  display: grid;
  grid-template-rows: repeat(var(--grid-rows), var(--cell-width));
  grid-template-columns: repeat(var(--grid-cols), var(--cell-width));
  margin: 0 auto;
  background-image: url("map/island.png");
  background-size: cover;
}

.grid-item {
  display: flex;
  align-items: center;
  justify-content: center;
  border: 1px solid rgba(255, 255, 255, 15%);
  text-align: center;
}

.grid-item.selected:before {
  content: "";
  display: block;
  position: absolute;
  border: 1px solid rgba(255, 255, 255, 50%);
  border-radius: 600px;
  width: calc(var(--circle-width) * var(--cell-width));
  height: calc(var(--circle-width) * var(--cell-width));
  pointer-events: none;
}

.placer {
  content: "";
  display: block;
  position: absolute;
  border: 1px solid rgba(255, 255, 255, 50%);
  border-radius: 600px;
  width: calc(var(--next-circle-width) * var(--cell-width));
  height: calc(var(--next-circle-width) * var(--cell-width));
  pointer-events: none;
  top: var(--mouse-y);
  left: var(--mouse-x);
  transform: translate(-50%, -50%);
}

.animatedWall {
  pointer-events: none;
  display: none;
  position: absolute;
  border: 2px solid rgba(132, 204, 22, 75%);
  box-sizing: content-box;
  border-radius: 100%;
  width: 150vw;
  height: 150vw;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  pointer-events: none;
  box-shadow: 0 0 250px 40vw rgb(250, 204, 21, 50%);
  z-index: 1;
}

.closeCircle {
  display: block;
  width: var(--start-width);
  height: var(--start-width);
  top: var(--start-top);
  left: var(--start-left);
  animation: closeInitialCircle var(--closing-time) linear var(--circle-delay) forwards;
}

@keyframes closeInitialCircle {
  from {
    width: var(--start-width);
    height: var(--start-width);
    top: var(--start-top);
    left: var(--start-left);
  }
  to {
    width: calc(var(--circle-width) * var(--cell-width));
    height: calc(var(--circle-width) * var(--cell-width));
    top: var(--end-top);
    left: var(--end-left);
  }
}

.timebar {
  width: 20px;
  min-width: 20px;
  height: 100%;
  background: #475569;
  position: relative;
  display: var(--show-timebar);
}

.timer {
  width: 20px;
  height: 1px;
  position: absolute;
  top: 0;
  background: #F8FAFC;
  animation: gameTimer var(--game-time) linear forwards;
  animation-play-state: paused;
}

.timebar .timeblock:nth-child(3) {
  border-top: 1px solid #06B6D4;
}

.timebar .timeblock:nth-child(2n+4) {
  background: #DC2626;
  border-top: var(--countdown-height) solid #16A34A;
}

@keyframes gameTimer {
  from {
    top: 0;
  }
  to {
    top: 100%;
  }
}

.countdownWrapper {
  position: absolute;
  left: 8px;
  top: 8px;
  background: rgba(0,0,0,60%);
  z-index: 10;
  padding: 8px 16px;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  line-height: 1.2;
  opacity: 0;
}
.countdownWrapper.show {
  opacity: 1;
}

.countdownWrapper .title {
  color: white;
  font-size: 24px;
  text-transform: uppercase;
  font-weight: bold;
}

.countdownWrapper .countdownTime {
  font-family: var(--monofont), monospace;
  font-size: 40px;
  color: #F59E0B;
}

.settings {
  position: absolute;
  left: 16px;
  bottom: 16px;
  color: rgba(255,255,255,15%);
  cursor: pointer;
  transition: color 200ms;
  z-index: 110;
}

.settings:hover {
  color: rgba(255,255,255,100%);
}

.settings .icon {
  width: 32px;
  height: 32px;
}

.countWrapper {
  position: absolute;
  right: 16px;
  top: 16px;
  text-align: right;
  z-index: 10;
}

.playerCount {
  font-size: 48px;
  color: #fff;
  line-height: 1;
  text-transform: uppercase;
  font-weight: bold;
}

.playerCount .count {
  display: block;
  font-size: 128px;
  line-height: 0.8;
  letter-spacing: -4px;
}

.killTicker {
  font-size: 20px;
  text-transform: uppercase;
  font-weight: bold;
  color: #fff;
  text-shadow: 2px 2px 10px rgba(0,0,0,80%), -2px -2px 10px rgba(0,0,0,80%);
}

.killTicker .killer {
  color: #F59E0B;
}

.killTicker .killed {
  color: #DC2626;
}

.settingActions {
  width: 100%;
  text-align: center;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}

.mainActions {
  flex: 1 0 0;
  padding: 16px;
}

.bottomActions {
  flex: 10% 0 0;
  display: flex;
  align-items: center;
  justify-content: center;
  padding: 16px;
  color: #fff;
}

.playIcon,
.pauseIcon {
  display: none;
  cursor: pointer;
  padding: 8px;
  width: 40px;
  height: 40px;
  transition: all 200ms ease;
}
.playIcon:hover,
.pauseIcon:hover {
  background: rgba(255,255,255,15%);
  border-radius: 40px;
}

.playIcon.show,
.pauseIcon.show {
  display: block;
}

.setting-actions .timer-display-holder {
  color: white;
  font-size: 24px; 
}

.setting-actions .timer-display-holder #timer-display {
  color: #DC2626;
}

.setting-actions .form-group {
  display: flex;
  flex-direction: column;
  text-align: start;
  padding: 10px;
  border: 1px solid #ccc;
}

.setting-actions .form-group label {
  color: white
}

.setting-actions .form-group .input-button-group {
  display: flex;
  flex-direction: row;
  flex: 1;
}
